form {
    max-width: 500px;
    margin: auto;
    padding: var(--padding);
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form label {
    font-weight: bold;
    margin-top: 10px;
}

form select, form input {
    margin-top: 5px;
    width: 100%;
    padding: 8px;
    border-radius: var(--border-radius);
    border: 1px solid #ccc;
}
